<h3>Ordered Pizzas</h3>
<p>this is the cart screen second priority</p>
<p>Ordered pizzas here</p>


<h3>Ordered Pizzas</h3>
<p>this is the cart screen second priority</p>
<p>Ordered pizzas here</p>


<div class="row">
  <div class="col-md-12">
    <p>{{cart.test}}</p>
    <br>
    <p>{{cart.pizzaObj.sm}}</p>
  </div>
</div>


<!-- will receive pizzaorder - inside will be array with all the order

pizzaorder{orderedPizza[{pizza}]} -->


<div class="row">
  <div class="col-md-12" ng-repeat="pizzas in pizzaOrder.pizzaArray">
    <p>{{cart.pizzas}}</p>
    <br>

  </div>
</div>
