<!-- ORDER CONTROLLER -->

<h3 class='lead'>Order Your Pizza!</h3>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a size
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" ng-model='smPizza'>Small</a>
        <a class="dropdown-item" ng-model='medPizza'>Medium</a>
        <a class="dropdown-item" ng-model='lgPizza'>Large</a>
      </div>
    </div>
