
<div class="pizza-nav">
  <div id = 'headerWrapper' class = 'navbar navbar-default navbar-fixed-top'>

    <div id = 'header' class = 'row'>
      <h1> Object Pizza <small>every pizza is an object</small></h1>
    </div>

    <div id = 'navBar' class = 'row'>
      <ul class = 'nav nav-pills'>
        <li role = 'presentation'><a href="#!/home">HOME</a></li>
        <li role = 'presentation'><a href="#!/order">ORDER</a></li>
        <li role = 'presentation'><a href="#!/cart">CART</a></li>
        <li role = 'presentation'><a href="#!/confirm">CONFIRM</a></li>
      </ul>
    </div>
  </div>
</div>
