<!-- ORDER CONTROLLER -->

<h3 class='lead'>Order Your Pizza!</h3>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a size
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul>
          <li><a class="dropdown-item" ng-click='order.pizzaSize(order.pizzaObj.sm)'>Small</a></li>
          <li><a class="dropdown-item" ng-click='order.pizzaSize(order.pizzaObj.md)'>Medium</a></li>
          <li><a class="dropdown-item" ng-click='order.pizzaSize(order.pizzaObj.lg)'>Large</a></li>
        </ul>
      </div>
    </div>

    <div>
      <h3>Toppings:</h3>
            <label class="radio-inline"><input type="radio" name="optradio">Salmon</label>
            <label class="radio-inline"><input type="radio" name="optradio">Mushroom</label>
            <label class="radio-inline"><input type="radio" name="optradio">Pineapple</label>
            <label class="radio-inline"><input type="radio" name="optradio">Mashed Potatoes</label>
            <label class="radio-inline"><input type="radio" name="optradio">Mac'n'Cheese</label>
            <label class="radio-inline"><input type="radio" name="optradio">Shrimp</label>
    </div>
